.wrapper{width:1004px;min-width:1000px;margin: 0 auto;}
.none{display: none!important;}
#main {height: 900px;background: url(../image/register/login-bg1.png) no-repeat center top;}
#main .wrapper{width:595px;min-width:595px;margin:0 auto;}
#main .login-cont{padding-top:345px;padding-left: 5px;width:590px;height: 650px;}
#main .login-cont dl{height: 56px;}
#main .login-cont dl dt{width:120px;text-align:right;height: 56px;line-height: 60px;font-size: 20px;color:#777777;font-weight: normal;}
#main .login-cont dl dd{width:450px;height: 56px;line-height: 60px;padding-left:10px;}
#main .login-cont dl dd input{width:405px;padding-left:5px;height: 40px;line-height: 40px;font-size:16px;border:1px solid #D5D5D5;border-radius:5px;}
#main .input-item-cont {padding-left:130px;width:544px;}
#main .input-item-cont .tips-gray{display: inline-block;height: 25px;line-height: 25px;color:#C3C3C3;}
#main .input-item-cont .tips-link{color:#20B7F6;cursor: pointer;}
#main .input-item-cont *{display: inline-block;vertical-align: middle;}
#main .input-item-cont input{font-size: 16px;}
#main .input-item-saveun-cont {height: 25px;line-height: 25px;}
#main .input-item-saveun-cont *{height: 25px;line-height: 25px;display: inline-block;vertical-align: middle;margin: 0}
#captcha {width:120px;padding-left:5px;height: 40px;line-height: 40px;border:1px solid #D5D5D5;border-radius:5px;}
#submit {width:255px;height: 50px;border: 0;background: url(../image/register/login-btn.png) no-repeat -16px -12px;}

#footer{height:40px;line-height:40px;border-top:1px solid #DBD9D4;background-color: #FFFCF5;}
#footer span{display: inline-block;vertical-align: middle;margin: 0 5px;color:#777777;}
#footer span.current{background-color:#FD9527;color:white;height: 20px;line-height: 20px;margin-top: 10px;padding:0 5px;}
#footer span a:hover{color:#DD8221;}