
.order-type-header {height: 58px;border-bottom: 1px dotted #d8d8d8;}
.order-type-list li {border-bottom: 1px dotted #d8d8d8;font-size: 14px;height: 48px;line-height: 45px;}
.order-type-list li .inner {padding-left: 60px;width: 260px;}
.order-type-list li.current .inner {position: relative;z-index: 1;margin-top: 1px;width: 260px;font-weight: bold;background: url(../image/cat-item-bg.png) no-repeat 1px -32px;}
.order-type-icon { display: inline-block;height: 48px;width: 48px;background: url(../image/order-status-icons.png) no-repeat;}
.order-type-icon:after {content: '.';visibility: hidden;}
.order-type-uncontact {background-position: -10px -2px;}
.order-type-communicating {background-position: -10px -50px;}
.order-type-going {background-position: -10px -98px;}
.order-type-finished {background-position: -10px -146px;}

.order-list-header {margin-top:55px;}
.order-list-header .order-item-row {border-bottom: 0;}
.order-list-body {margin-bottom: 55px;min-height: 500px;}
.order-list-blank-cont{padding: 10px 20px;color:gray;border-top:solid 1px #D7D8D9; }
.order-item-cont {margin-bottom:10px;}
.order-item-row {border:solid 1px #D7D8D9;border-right: 0;width: 705px;height: 44px;font-size: 12px;}
.order-item-row .order-col-label {border-bottom: 0;}
.order-item-col{border:0;border-right:solid 1px #D7D8D9;float:left;width:88px;height: 44px;line-height:44px;text-align:center;}
.order-item-row .order-open-tips { background-color: #FB872F;color:white;border:0;height: 42px;line-height: 38px;cursor: pointer;border-right:solid 1px #D7D8D9;}
.order-detail-open-icon {width:14px;height:14px;background: url(../image/arrow-up.png) no-repeat 0 0;margin-left: -3px;margin-right: -3px;}
.order-detail-closed-icon {width:11px;height:14px;background: url(../image/arrow-down.png) no-repeat -10px -8px;}

.order-detail-loading{border: solid 0px #D7D8D9;text-align: left;margin-top: 10px;margin-right: 28px;margin-bottom: 10px;padding-top:15px;padding-left:30px;height: 50px;}
.order-detail-cont{border: solid 1px #D7D8D9;padding-left: 32px;margin-top: 20px;margin-right: 28px;margin-bottom: 10px;}
.order-detail-label{color:#31A7DD;font-weight: bold;line-height: 42px;}
.order-detail-row{ border:0;border-left: solid 1px #D7D8D9;width:644px;}
.order-detail-row .order-detail-col{ float: left;border: solid 1px #D7D8D9;border-left: 0;width: 160px;height: 42px;line-height: 42px;text-align: center;}
p.order-detail-row{border: solid 1px #D7D8D9;line-height: 30px;}
p.order-detail-row.order_detail_adv_title{min-height: 30px;padding-left: 5px;}
p.order-detail-row.order_detail_adv_remark{min-height: 30px;max-height: 210px;overflow-y:scroll;padding-left: 5px;}

.order-detail-row.order_detail_remark{min-height: 90px;border: solid 1px #D7D8D9;padding-left: 5px;}
.order-detail-row .order-col-label {border-bottom: 0;}
.submit-btn-cont{width:80px;margin:10px auto;}
.order-close-tips {width: 165px;margin:auto;height: 35px;color: #FB872F;border: solid 1px #D7D8D9;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom: 0;text-align: center;line-height: 30px;cursor: pointer;}

.order-item-row .order-open-tips.order-open-link { background-color:white;color:#FB872F;}
.order-item-row .order-open-tips.order-open-link .order-detail-open-icon {display: none;}
